* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

.services {
  padding: 0 30px 60px 30px;
  border-radius: 0 0 12px 12px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 60px;
  background: linear-gradient(75deg, #643e72, #323264, #323264);
}
.services .title-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
}
.services .box-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.services .card {
  display: flex;
  flex-direction: column;
}
.services .card .icons {
  padding: 14px;
  border-radius: 24px;
  background-color: white;
}
.services h3 {
  color: #24a3ff;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 15px;
}
.services p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
.services a {
  color: #24a3ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.services .title-services::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  color: #24a3ff;
}
.services h2 {
  margin: 0;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.spacer {
  height: 60px;
}

.clients {
  display: grid;
  gap: 30px;
  grid-template-areas: "trust" "conteiner";
}

.conteiner {
  grid-area: conteiner;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.conteiner .box {
  display: flex;
  justify-content: center;
  padding: 35px 0;
}

@media (max-widht: 500px) {
  .conteiner {
    grid-template-columns: repeat(2, 1fr);
  }
}
.trust {
  grid-area: trust;
  color: #323264;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  padding: 0;
}

.hillel {
  background: #1c4280;
}

.wanna {
  background: #143646;
}

.tapgerine {
  background: #f48b30;
}

.look {
  background: #9e4dc3;
}

.orangerang {
  background: #fd9339;
}

.adtelligent {
  background: #e2e2e4;
}

.clikki {
  background: #c71c36;
}

.ecoleasing {
  background: #dcf3f9;
}

.infratek {
  background: #eaeaea;
}

.sitipark {
  background: #282240;
}

.artprintstudio {
  background: #1d4568;
}

.ultimatecard {
  background: black;
}