

* {
    box-sizing: border-box;
    h2, h3, h4, p, hr {
        margin: 0;

    }
}

body {
    font-family: Montserrat, sans-serif;

}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
}
@media (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
        width: 768px;
    }

}
@media (min-width: 1024px) and (max-width: 1440px) {
    .wrapper {
        width: 1440px;
    }

}
@media (min-width: 1441px)  and (max-width: 1920px) {
    .wrapper {
        min-width: 1440px;
    }

}
@media (min-width: 1921px) {
    .wrapper {
        min-width: 1920px;
    }

}

.fonback {
    background: linear-gradient(75deg, rgba(100,62,114,1), rgba(50,50,100,1), rgba(50,50,100,1));
}
