

.header-new {
    height: 16%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(10, 1fr);
    .lang {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 6;
        background-color: rgba(245, 245, 250, 0.2);
        display: flex;
        padding: 10px 15px;
        a {
            padding: 5px 7px;
            border-radius: 8px;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            text-decoration: none;
        }
        a:hover {
            color: rgba(240, 20, 90, 1);
        }
    }
    .separator-header {
        display: none;
    }
    .adres {
        display: none;
    }
    .phone-header {
        grid-row-start: 1;
        grid-column-start: 6;
        grid-row-end: 2;
        grid-column-end: 11;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 15px;
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        background-color: rgba(245, 245, 250, 0.2);
        text-decoration: none;
        }
    .phone-header:hover {
        color: rgba(240, 20, 90, 1);
    }
    .fasebook-header {
        display: none;
    }
    .logo-header {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: flex-start;
        padding: 15px 0 10px 15px;
        .icon-header {
            width: 95px;
            height: 32px;
            object-fit: cover;
        }
        .sub-icon-header {
            width: 95px;
            height: 4px;
            object-fit: cover;
        }
    }
    .navigation-box {
        grid-row-start: 2;
        grid-column-start: 4; 
        grid-row-end: 3;
        grid-column-end: 7;
        display: flex;
        align-items: center;
        justify-content: center;
        .serv-nav {
            color: rgba(255, 255, 255, 1);
            font-size: 20px;
            font-weight: 400;
        }
        .ab-nav, .cont-nav, .publ-nav, .team-nav{
            display: none;
        }
    }
    .dropdown-header {
        grid-row-start: 2;
        grid-column-start: 9;
        grid-row-end: 3;
        grid-column-end: 11;
        display: inline-block;
        content: '';
        width: 32px;
        height: 32px;
        padding: 30px 35px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        color: rgba(255, 255, 255, 1);
        background-image: url(../css/image/Hamburger@2x.png);
    }
}

@media (min-width: 768px) {
    .header-new {
        height: 30%;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(20, 1fr);
        row-gap: 30px;
        .lang {        
            grid-row-start: 1;
            grid-column-start: 1;
            grid-row-end: 2;
            grid-column-end: 4;
            background-color: unset;
            padding: 0;
            justify-content: end;
        }
        .separator-header-a {
            display: grid;
            grid-row-start: 1;
            grid-column-start: 4;
            grid-row-end: 2;
            grid-column-end: 5;
            align-self:center;
            margin-left: 25%;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color:rgba(255, 255, 255, 1);
        }
        .separator-header-b {
            display: grid;
            grid-row-start: 1;
            grid-column-start: 11;
            grid-row-end: 2;
            grid-column-end: 12;
            align-self:center;
            margin-left: 25%;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color:rgba(255, 255, 255, 1);
        }
        .separator-header-c {
            display: grid;
            grid-row-start: 1;
            grid-column-start: 15;
            grid-row-end: 2;
            grid-column-end: 16;
            align-self:center;      
            margin-left: 35%;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color:rgba(255, 255, 255, 1);
        }
        .adres {
            grid-row-start: 1;
            grid-column-start: 5;
            grid-row-end: 2;
            grid-column-end: 11;
            display: flex;
            justify-content: flex-start;
            align-self:center;
            color: rgba(179, 179, 186, 1);
            font-size: 16px;
            font-weight: 400;
        } 
        .phone-header {
            grid-row-start: 1;
            grid-column-start: 12;
            grid-row-end: 2;
            grid-column-end: 15;
            background-color: unset;
            align-self:center;
            padding: 0;
            justify-content: flex-start;
            }
        .fasebook-header {
            grid-row-start: 1;
            grid-column-start: 16;
            grid-row-end: 2;
            grid-column-end: 17;    
            align-self:center;
            display: flex;
            content: '';
            width: 24px;
            height: 24px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../css/image/Facebook-Header@2x.png);
        }
        .fasebook-header:hover {
            color: rgba(240, 20, 90, 1);
        }

        .logo-header {
            grid-row-start: 2;
            grid-column-start: 1;
            grid-row-end: 3;
            grid-column-end: 4;
            display: flex;
            flex-direction: column;
            gap: 4px;
            .icon-header {
                width: 130px;
                height: 46px;
                object-fit: cover;
            }
            .sub-icon-header {
                width: 130px;
                height: 7px;
                object-fit: cover;
            }
        }
        .navigation-box {
            grid-row-start: 3;
            grid-column-start: 1; 
            grid-row-end: 4;
            grid-column-end: 10;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 15px;
            color: rgba(255, 255, 255, 1);
            font-size: 20px;
            font-weight: 400;
            a {
                color: rgba(255, 255, 255, 1);
                font-size: 20px;
                font-weight: 400;
                white-space: nowrap;
            }
            .ab-nav, .cont-nav, .publ-nav, .team-nav{
                display: flex;
            }
        }
        .dropdown-header {
            display: none;
        }
    }
}
@media (min-width: 1024px) {
    .header-new {
        height: 8%;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(30, 1fr);
        row-gap: 16px;
        .lang {        
            grid-row-start: 1;
            grid-column-start: 17;
            grid-row-end: 2;
            grid-column-end: 19;
            background-color: unset;
            padding: 0;
            justify-content: end;
            margin: 0;
        }
        .separator-header-a {
            display: grid;
            grid-row-start: 1;
            grid-column-start: 19;
            grid-row-end: 2;
            grid-column-end: 20;
            align-self:center;
            justify-self: end;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color:rgba(255, 255, 255, 1);
        }


        .adres {
            grid-row-start: 1;
            grid-column-start: 20;
            grid-row-end: 2;
            grid-column-end: 25;
            display: flex;
            justify-content: end;
            align-self:center;
            color: rgba(179, 179, 186, 1);
            font-size: 16px;
            font-weight: 400;
        } 
        .separator-header-b {
            display: grid;
            grid-row-start: 1;
            grid-column-start: 25;
            grid-row-end: 2;
            grid-column-end: 26;
            align-self:center;
            justify-self: end;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color:rgba(255, 255, 255, 1);
        }
        .phone-header {
            grid-row-start: 1;
            grid-column-start: 26;
            grid-row-end: 2;
            grid-column-end: 29;
            background-color: unset;
            align-self:center;
            justify-content: flex-end;
            }
            .separator-header-c {
                display: grid;
                grid-row-start: 1;
                grid-column-start: 29;
                grid-row-end: 2;
                grid-column-end: 30;
                align-self:center; 
                justify-self: end;     
                width: 6px;
                height: 6px;
                border-radius: 3px;
                background-color:rgba(255, 255, 255, 1);
            }
        .fasebook-header {
            grid-row-start: 1;
            grid-column-start: 30;
            grid-row-end: 2;
            grid-column-end: 31;    
            display: flex;
            justify-self: end;
            content: '';
            width: 24px;
            height: 24px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../css/image/Facebook-Header@2x.png);
        }
        .fasebook-header:hover {
            color: rgba(240, 20, 90, 1);
        }

        .logo-header {
            grid-row-start: 1;
            grid-column-start: 1;
            grid-row-end: 3;
            grid-column-end: 6;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 4px;
        }
        .navigation-box {
            grid-row-start: 2;
            grid-column-start: 20; 
            grid-row-end: 3;
            grid-column-end: 31;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 15px;
            color: rgba(255, 255, 255, 1);
            font-size: 20px;
            font-weight: 400;
            a {
                color: rgba(255, 255, 255, 1);
                font-size: 16px;
                font-weight: 700;
                white-space: nowrap;
            }
        }
        .dropdown-header {
            display: none;
        }
    }
}