
.splash {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    // // position: relative;
    // .symbol-button-box {
    //     // position: fixed;
    //     // overflow: hidden;
    //     // bottom: 0%;
    // }
    // @media (min-width: 768px) {
    //     .symbol-button-box {
    //     //     position: absolute;
    //     // }
    // }

    .symbol {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
     // position: relative;
        .symbol-button::after{
            display: inline-block;
            content: '';
            width: 42px;
            height: 42px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../css/image/Scroll.png);
            background-color: transparent;
        }
    }
    .symbol::before {
        display: inline-block;
        content: '';
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        color: rgba(255, 255, 255, 1);
        background-image: url(../css/image/symbol-mobile@2x.png);
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        .symbol::before {
            background-image: url(../css/image/symbol-tablet@2x.png);
        }
    }
    @media (min-width: 1025px) and (max-width: 1440px) {
        .symbol::before {
            background-image: url(../css/image/symbol-leptop@2x.png);
        }
    }
    @media (min-width: 1441px)  and (max-width: 1920px) {
        .symbol::before {
            background-image: url(../css/image/symbol-desctop@2x.png);
        }
    }
    @media (min-width: 1921px) {
        .symbol::before {
            background-image: url(../css/image/symbol-desctop@2x.png);
        }
    }
    .symbol-box-text {
        display: flex;
        // position: absolute;
        // overflow: hidden;
        // bottom: 43%;
        padding: 0 25%;
        .symbol-text {
            color: rgba(255, 255, 255, 1);
            text-align: center;
            font-size: 38px;
            font-weight: 700;
            line-height: normal;
        }
    }
}
