
* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    margin: 0;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
}

.services {
    padding: 0 30px 60px 30px;
    border-radius: 0 0 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background: linear-gradient(75deg, rgba(100,62,114,1),
                rgba(50,50,100,1),rgba(50,50,100,1));
    .title-card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-self: stretch;
    }
    .box-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        .box-card {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (min-width: 1025px) {
        .box-card {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        .icons {
            padding: 14px;
            border-radius: 24px;
            background-color: rgba(255, 255, 255, 1);
        }
    }

    h3 {
        color:  rgba(36, 163, 255, 1);
        font-size: 22px;
        font-weight: 700;
        line-height: normal;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 15px;
    }

    p {
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin: 0;
    }

    a {
        color: rgba(36, 163, 255, 1);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        }

        .title-services::after {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            color: rgba(36, 163, 255, 1);
        }

    h2 {
        margin: 0;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    } 
}

.spacer {
    height: 60px;
}
.clients {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conteiner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    .box {
        display: flex;
        justify-content: center;
        padding: 35px 0;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .conteiner {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1025px) and (max-width: 1200px) {
    .conteiner {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1201px) {
    .conteiner {
        grid-template-columns: repeat(4, 1fr);
        padding: 0px 100px 0px 100px;
    }
}

.trust {
    grid-area: trust;
    color: #323264;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase; 
    padding: 0;
}
.hillel {
    background: #1c4280;
}
.wanna {
    background: #143646;
}
.tapgerine {
    background: #f48b30;
}
.look {
    background: #9e4dc3;
}
.orangerang {
    background: #fd9339;
}
.adtelligent {
    background: #e2e2e4;
}
.clikki {
    background: #c71c36;
}
.ecoleasing {
    background: #dcf3f9;
}
.infratek {
    background: #eaeaea;
}
.sitipark {
    background: #282240;
}
.artprintstudio {
    background: #1d4568;
}
.ultimatecard {
    background: black;
}