body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    background: linear-gradient(75deg,
        rgba(100,62,114,1),
        rgba(50,50,100,1),
        rgba(50,50,100,1));
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    h3 {
        color:  rgba(36, 163, 255, 1);
        font-size: 22px;
        font-weight: 700;
        line-height: normal;
    }
    p {
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
}
